{% extends "base.html" %}
{% load i18n %}
{% load faststi %}

{% block title %}
    Fast agent-based model of sexually transmitted infections
{% endblock %}

{% block styles %}
    <style>
     {% include "css/styles.css" %}
     {% include "faststi/faststi.css" %}
    </style>
{% endblock %}

{% block context-menu %}
    <ul>
        <li>
            <a href="{% url 'blog:home' %}">
                Home
            </a>
        </li>
        <li>
            <a href="https://faststi.readthedocs.io/en/latest/">
                Documentation
            </a>
        </li>
        <li>
            <a href="https://github.com/nathangeffen/faststi/releases/">
                Download
            </a>
        </li>
        <li>
            <a href="https://github.com/nathangeffen/faststi">
                Source
            </a>
        </li>
    </ul>
{% endblock %}

{% block pagetitle %}
    Demonstration of an agent-based simulation of a sexually transmitted
    infection epidemic
{% endblock %}


{% block content %}
    <div
        {% if request.method == "GET" %}
        style="display:none;"
        {% endif %}
    >
        <div id="charts">
            <div>
                <canvas height="300" id="chart-prevalence">
                    Graph showing prevalence against time
                </canvas>
            </div>
            <div>
                <canvas height="300" id="chart-population">
                    Graph showing number of live and dead agents against time
                </canvas>
            </div>
        </div>

        <h2>Output</h2>

        <ol id="output">

        </ol>

        {% if config_files %}
            <div id="filenames">
                <h2>Files</h2>
                <ul>
                    <li>
                        <span id="config-filename">
                            <a href="{% url "faststi:faststi_config" config_filename %}"
                               target="_blank">
                                Configuration
                            </a>
                        </span>
                    </li>
                    <li>
                        <span id="initial-infection-filename">
                            <a href="{% url "faststi:faststi_data" initial_infection_filename %}"
                               target="_blank">
                                Initial infection dataset
                            </a>
                        </span>
                    </li>
                    <li>
                        <span id="mortality-filename">
                            <a href="{% url "faststi:faststi_data" mortality_filename %}"
                               target="_blank">
                                Mortality dataset
                            </a>
                        </span>
                    </li>
                    <li>
                        <span id="infect-filename">
                            <a href="{% url "faststi:faststi_data" infectiousness_filename %}"
                               target="_blank">
                                Infectiousness dataset
                            </a>
                        </span>
                    </li>

                    <li>
                        <span id="output-filename">
                            <a href="{% url "faststi:faststi_output" output_filename %}"
                               target="_blank">
                                Output
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

    <p class="intro">
        FastSTI is an <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">open source</a> framework
        for implementing agent-based models of sexually transmitted infection
        epidemics.</p>

    <p>
        It is designed to handle up to tens of millions of agents on a mid-range
        laptop, or run many smaller simulations quickly in parallel. On a high
        performance computer it can run dozens of large simulations or thousands
        of small ones in parallel.
    </p>
    <p class="intro">
        This page demonstrates what FastSTI can do. We've had to limit how you
        use it because we use a low-powered server.
        <span onclick="readMore()" id="open-read-more">Read more about how FastSTI works ...</span>
    </p>

    <div id="read-more">
        <p>
            FastSTI takes a configuration file as input. This tells it how many
            simulations to run, and how to run each simulation. It also takes
            data as input in files that we call datasets. And optionally, it
            takes a file of agents, though the agents can be generated by
            FastSTI itself, via instructions in the configuration file.
        </p>
        <p>
            In the demonstration on this page, the number of simulations is set
            to 1 (so that our server isn't overloaded). By modifying the form
            below, you are simply changing the configuration file that is
            generated as input to FastSTI. Once the demonstration simulation on
            this page has run, you can go to the bottom of the page to click on
            the configuration file.
        </p>
        <p>
            The outputs are a report of simulation results, and the agents. Once
            the demonstration simulation on this page has run, you can go to the
            bottom of the page to click on the output files.
        </p>
        <p>
            <img
                style="max-width:290px;"
                src="https://faststi.readthedocs.io/en/latest/_images/FastSTI-Overview.png"
                alt="Diagram showing FastSTI's inputs and outputs"
            />
        </p>
        <p>
            A simulation continuously iterates over sets of agents, executing
            events on the agents on each iteration (which we call a time
            step). The structure of a FastSTI simulation is:
        </p>
        <pre>
Execute events before simulation runs
for each time-step
  for each event E
      for each agent A
          if E should be applied to A
              apply E to A
Execute events after simulation runs
        </pre>

        <p>
            The number of agents and the specific events to execute are
            specified in a configuration file. FastSTI’s configuration file uses
            the .ini format, which are the standard simple configuration format
            used on MS Windows and the GTK framework popular on Linux systems.
        </p>

        <p>
            You can configure the number of agents, the events and the order of
            events that execute upon them, the size of the time step (default 1
            day), the number of time steps (default 10 years) and much else (see
            Configuration file parameters).
        </p>

        <p>
            FastSTI has a number of useful built-in events useful for modelling
            STI epidemics (see Events). These include agent ageing, death,
            matching agents in sexual relationships, infection with the STI,
            disease advance, co-infection, and breakups.
        </p>

        <p>
            There are also useful supporting events that read in agent files or
            generate the agents, write the agents to a CSV file, and write basic
            statistics to a CSV file.
        </p>

        <p>
            If you need more events, the framework has been designed with
            extensibility in mind. You can define new events in C, identify them
            to FastSTI, quickly recompile the code and use them.
        </p>
    </div>


    <p>
        To explore the full potential of FastSTI you'll need to <a href="https://www.simhub.online/media/dist/faststi/latest.tar.gz">download</a> and
        run it on your own computer, or a high-performance one that you have
        access to.</p>

    <p>
        The <a href="https://faststi.readthedocs.io/en/latest/">documentation</a>
        explains how to use FastSTI.
    </p>

    <h2>Demonstration</h2>
    <p>
        The demonstration here very roughly models a disease like HIV. It has
        the following characteristics:
    </p>
    <ul>
        <li>
            The number of agents generated is determined by the
            <em>Number of Agents</em> parameter. The default iteration of the
            simulation is one day and the simulation runs for ten years.
        </li>
        <li>
            At the start of the simulation, the <em>Initial</em> parameters
            determine the proportion of agents who are infected.
        </li>
        <li>
            On each iteration of the simulation agents may enter relationships,
            leave their current relationship, become infected, if infected go
            onto treatment or become sick, or die (the <em>Mortality</em>
            parameters). New agents are also added to the simulation to model
            population growth. While you can't change most of this in the
            demonstration, if you run FastSTI on your own computer it's easy to
            change them.
        </li>
        <li>
            On each iteration of the simulation the <em>infect</em>
            parameters determine the risk of an uninfected agent in a
            serodiscordant relationship becoming infected.
        </li>
    </ul>


    <form id="sim-parameters"
          enctype="multipart/form-data"
          action="{% url 'faststi:faststi_form' %}"
          method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form|starts_with:"a_" %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <fieldset id="advanced">
            <legend>Advanced parameters</legend>
            <p class="tab-buttons">
                <button type="button"
                        onclick="openCloseTab(this, 'initial-infections')"
                        class="tab-selector">Initial
                </button><button
                             type="button"
                             onclick="openCloseTab(this, 'infectiousness')"
                             class="tab-selector">Infect
                </button><button type="button"
                                 onclick="openCloseTab(this, 'mortality')"
                                 class="tab-selector">Mortality
                </button><button type="button"
                                 onclick="openCloseTab(this, 'misc')"
                                 class="tab-selector">Misc</button>
            </p>

            <div id="initial-infections" class="tabbed">
                <p>
                    These parameters indicate the proportions of agents who are
                    infected at the beginning of the simulation.
                </p>
                <div class="fieldWrapper source-selector"
                     onclick="switchFormFile(this)">
                    {{ form.e0_initial_infections_data_source.errors }}
                    {{ form.e0_initial_infections_data_source.label_tag }}
                    {{ form.e0_initial_infections_data_source }}
                </div>
                <div class="form-parms">
                    {% for field in form|starts_with:"e1_" %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div class="fieldWrapper file-parms">
                    {{ form.e2_initial_infections_file.errors }}
                    {{ form.e2_initial_infections_file.label_tag }}
                    {{ form.e2_initial_infections_file }}
                </div>
            </div>

            <div id="infectiousness" class="tabbed">
                <p>
                    These parameters indicate the risk of infection per
                    iteration for an uninfected agent in a sexual
                    relationship with an infected one.
                </p>
                <div class="fieldWrapper source-selector"
                     onclick="switchFormFile(this)">
                    {{ form.k0_infectiousness_data_source.errors }}
                    {{ form.k0_infectiousness_data_source.label_tag }}
                    {{ form.k0_infectiousness_data_source }}
                </div>
                <div class="form-parms">
                    {% for field in form|starts_with:"k1_" %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div class="fieldWrapper file-parms">
                    {{ form.k2_infectiousness_file.errors }}
                    {{ form.k2_infectiousness_file.label_tag }}
                    {{ form.k2_infectiousness_file }}
                </div>
            </div>

            <div id="mortality" class="tabbed">
                <p>
                    These parameters indicate the risk of an agent dying per
                    iteration.
                </p>
                <div class="fieldWrapper source-selector"
                     onclick="switchFormFile(this)">
                    {{ form.h0_mortality_data_source.errors }}
                    {{ form.h0_mortality_data_source.label_tag }}
                    {{ form.h0_mortality_data_source }}
                </div>
                <div class="form-parms">
                    {% for field in form|starts_with:"h1_" %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div class="fieldWrapper file-parms">
                    {{ form.h2_mortality_file.errors }}
                    {{ form.h2_mortality_file.label_tag }}
                    {{ form.h2_mortality_file }}
                </div>
            </div>

            <div id="misc" class="tabbed">
                {% for field in form|starts_with:"c_" %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

        </fieldset>

        <input id="simulate-button" type="submit" value="Simulate">
    </form>

    {{ status }}

    <script>
     {% include 'faststi/Chart.bundle.min.js' %}
    </script>

    <script>
     "use strict";
     var timeout = 300;

     var getCookie = function(name) {
         var cookieValue = null;
         if (document.cookie && document.cookie !== '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
                 var cookie = cookies[i].trim();
                 if (cookie.substring(0, name.length + 1) === (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(
                         name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
     }

     var ctx_prev = document.getElementById('chart-prevalence');
     var chart_prev = new Chart(ctx_prev, {
         type: 'line',
         data: {
             labels: [],
             datasets: [
                 {
                     name: "INFECT_RATE_ALIVE",
                     label: 'Prevalence',
                     data: [],
                     borderColor: 'black',
                     borderWidth: 1,
                     fill: false
                 }
             ]
         },
         options: {
             scales: {
                 yAxes: [{
                     ticks: {
                         beginAtZero: true,
                     }
                 }],
             },

             tooltips: {
                 callbacks: {
                     label: function(tooltipItem, data) {
                         var label = Number(tooltipItem.yLabel).toFixed(2);
                         return label;
                     }
                 }
             },
         }
     });

     var ctx_pop = document.getElementById('chart-population');
     var chart_pop = new Chart(ctx_pop, {
         type: 'line',
         data: {
             labels: [],
             datasets: [
                 {
                     name: "POP_ALIVE",
                     label: 'Alive',
                     data: [],
                     borderColor: 'blue',
                     borderWidth: 1,
                     fill: false
                 },
                 {
                     name: "POP_DEAD",
                     label: 'Dead',
                     data: [],
                     borderColor: 'red',
                     borderWidth: 1,
                     fill: false
                 }
             ]
         },
         options: {
             scales: {
                 yAxes: [{
                     ticks: {
                         beginAtZero: true,
                     }
                 }],
             },

             tooltips: {
                 callbacks: {
                     label: function(tooltipItem, data) {
                         var label = Number(tooltipItem.yLabel);
                         return label;
                     }
                 }
             },
         }
     });


     var setMessage = function(msg, tag) {
         if (msg.length > 0) {
             var ul = document.getElementById("messages");
             ul.innerHTML = "";
             var li = document.createElement("li");
             li.innerHTML = msg;
             li.className += " " + tag;
             ul.appendChild(li);
         }
     }

     var getOutput = function() {
         fetch("{% url 'faststi:faststi_fetch' %}", {
             method: 'GET',
             headers: {
                 "X-CSRFToken": getCookie("csrftoken"),
                 'Content-Type': 'application/json',
             }
         }).then(function(response) {
             return response.json();
         }).then(function(dict) {
             setMessage(dict["msg"], dict["msgstatus"]);
             var ul = document.getElementById("output");
             var saved_date = "";
             for (const line of dict["lines"]) {
                 ul.innerHTML += "<li>" + line + "</li>";
                 var cells = line.split(";");
                 if (cells[3] != "date") {
                     if (saved_date != cells[3]) {
                         saved_date = cells[3];
                         chart_prev.data.labels.push(saved_date);
                         chart_pop.data.labels.push(saved_date);
                     }
                     chart_prev.data.datasets.forEach((dataset) => {
                         if (dataset.name === cells[4]) {
                             dataset.data.push(Number(cells[5]));
                         }
                     });
                     chart_pop.data.datasets.forEach((dataset) => {
                         if (dataset.name === cells[4]) {
                             dataset.data.push(Number(cells[5]));
                         }
                     });
                 }
             }
             chart_prev.update();
             chart_pop.update();

             ul.scrollTop = ul.scrollHeight;
             if (dict["status"] == "idle") {
                 document.getElementById("simulate-button").disabled = false;
                 var body = document.getElementsByTagName("body")[0];
                 body.classList.remove("busy");

             } else {
                 var body = document.getElementsByTagName("body")[0];
                 if (body.classList.contains("busy")) {
                 } else {
                     body.classList.add("busy");
                 }
                 setTimeout(getOutput, timeout);
             }
         });
     }

     // Tabbed parameter values

     var openCloseTab = function(elem, parmId) {
         if (elem.classList.contains("selected")) {
             elem.classList.remove("selected");
             document.getElementById(parmId).style.display = "none";
         } else {
             for (var t of document.getElementsByClassName("tab-selector")) {
                 t.classList.remove("selected");
             }
             elem.classList.add("selected");
             var parms = document.getElementsByClassName("tabbed");
             for (var i = 0; i < parms.length; i++) {
                 parms[i].style.display = "none";
             }
             document.getElementById(parmId).style.display = "block";
         }
     }

     // Radio buttons function

     var switchFormFile = function(elem) {
         var form_parms = elem.parentNode.
                               getElementsByClassName("form-parms")[0];
         var file_parms = elem.parentNode.
                               getElementsByClassName("file-parms")[0];
         var options = elem.getElementsByTagName("INPUT");
         if (options[0].checked) {
             form_parms.style.display = "block";
             file_parms.style.display = "none";
         } else {
             form_parms.style.display = "none";
             file_parms.style.display = "block";
         }
     };

     window.addEventListener("load", function() {
         var csrftoken = getCookie('csrftoken');
         if ("{{request.session.status}}" == "running") {
             document.getElementById("simulate-button").disabled = true;
             if ({{duplicate}} == 0) setTimeout(getOutput, timeout);
         } else {
             document.getElementById("simulate-button").disabled = false;
         }

         var uninfected = document.getElementsByClassName("uninfected");
         for (var e of uninfected) {
             if (getComputedStyle(e, null).display != "none") {
                 var label = document.createElement("label");
                 label.innerHTML = '{% trans "Uninfected" %}';
                 label.classList.add("stage");
                 e.parentNode.insertBefore(label, e);
             }
         }
         var treated = document.getElementsByClassName("treated");
         for (var e of treated) {
             var label = document.createElement("label");
             label.innerHTML = '{% trans "Treated" %}';
             label.classList.add("stage");
             e.parentNode.insertBefore(label, e);
         }
         var primary = document.getElementsByClassName("primary");
         for (var e of primary) {
             var label = document.createElement("label");
             label.innerHTML = '{% trans "Primary" %}';
             label.classList.add("stage");
             e.parentNode.insertBefore(label, e);
         }
         var chronic = document.getElementsByClassName("chronic");
         for (var e of chronic) {
             var label = document.createElement("label");
             label.innerHTML = '{% trans "Chronic" %}';
             label.classList.add("stage");
             e.parentNode.insertBefore(label, e);
         }
         var final = document.getElementsByClassName("final");
         for (var e of final) {
             var label = document.createElement("label");
             label.innerHTML = '{% trans "Final" %}';
             label.classList.add("stage");
             e.parentNode.insertBefore(label, e);
         }

         for (var elem of document.getElementsByClassName("source-selector")) {
             switchFormFile(elem);
         }
     });

     var readMore = function()
     {
         var moreText = document.getElementById("read-more");
         var btnText = document.getElementById("open-read-more");
         if (moreText.style.display === "block") {
             moreText.style.display = "none";
             btnText.innerHTML = "Read more ...";
         } else {
             moreText.style.display = "block";
             btnText.innerHTML = "Read less";

         }
     }
     {{block.super}}
    </script>
{% endblock %}
