input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


#sim-parameters {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.fieldWrapper {
    margin-bottom: 6px;
    margin-left: 3px;
    padding: 6px 6px 0 0;
}

.tab-selector {
    text-align: center;
    height: 30px;
    width: 65px;
    background-color: black;
    color: white;
    margin-left: 0;
    margin-right: 2px;
    border: none;
    text-decoration: none;
    outline: none;
}

.tab-selector:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
    outline: none;
}

.selected {
    background-color: red;
    border: none;
    outline: none;
}

.tabbed {
    display: none;
}


.source-selector ul {
    list-style: none;
    padding: 0;
}

.source-selector {
    margin-top: 10px;
}

.file-parms {
    display: none;
}

#simulate-button {
    -moz-border-radius:19px;
    -webkit-border-radius:19px;
    border-radius:19px;
    border:5px solid black;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:21px;
    font-weight:bold;
    padding:19px 56px;
    text-decoration:none;
    text-shadow:1px 1px 0px #2f6627;
    margin: 12px;
}

#simulate-button:hover {
    text-decoration: underline;
}

#simulate-button:active {
    position:relative;
    top:1px;
}

#sim-parameters input {
    margin-bottom: 0;
}

.fieldWrapper input[type="number"] {
    width: 4em;
    margin-left: 3px;
    margin-right: 6px;
    margin-bottom: 0px;
}

.source-selector ul {
    display: inline;
}

.source-selector input {
    width: 1em;
}

#initial-infections input.uninfected,
#infectiousness input.uninfected {
    display: none;
}

#advanced {
    margin-top: 9px;
    padding-top: 6px;
    padding-left: 6px;
    border: 1px solid black;
    border-radius: 5px;
}

#charts {
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
}

@media only screen and (min-width: 721px) {
    label.stage {
        display: inline !important;
    }

    #charts {
        display: flex;
        flex-direction: row;
    }

    #chart-prevalence,
    #chart-population {
        flex: auto;
    }
}


#output {
}