
.collapsible {
    max-width: 80%;
    background-color: #eee;
    cursor: pointer;
    text-align: left;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12pt;
    margin-bottom: 12px;
}

.collapsible p.collapsible-description {
    padding: 12px;
}
.collapsible p.collapsible-description:hover {
    text-decoration: underline;
}

.content {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
}

.source-selector ul {
    list-style: none;
    padding: 0;
}

.source-selector li,
.source-selector label {
    display: inline !important;
}

.source-selector {
    margin-top: 10px;
}

.file-parms {
    display: none;
}

#simulate-button {
    margin-top: 12px;
}

.fieldWrapper input[type="number"] {
    width: 4.5em;
    margin-left: 3px;
    margin-right: 6px;
}

.source-selector ul {
    display: inline;
}

.source-selector input {
    width: 1em;
}

#initial-infections input.uninfected {
    display: none;
}