{% extends 'base.html' %}

{% block title %}
    Play Sudoku!
{% endblock %}

{% block styles %}
    {{block.super}}
    <style>
     {% include 'sudoku/sudoku.css' %}

     p, ul, ol {
         max-width: 800px;
     }
     #pagetitle {
         text-align: center;
     }
    </style>
{% endblock %}

{% block pagetitle %}
    Sudoku puzzle # {{object.pk}}
{% endblock %}

{% block content %}

    <div id="sudoku-{{object.pk}}"></div>

    <p>Difficulty: {{object.get_difficulty_display}}</p>

    <p>
        {% if prev %}
            <a href="{% url 'sudoku:detail' prev.pk %}">Previous</a>
            {% if next %}
                &nbsp;|&nbsp;
            {% endif %}
        {% endif %}
        {% if next %}
            <a href="{% url 'sudoku:detail' next.pk %}">Next</a>
        {% endif %}
    </p>

    <h2>User interface</h2>
    <ul>
        <li>
            Click 1 to 9 to toggle that digit on or off in a cell.<br />
        </li>

        <li>
            Click the blank button to clear a cell.<br />
        </li>

        <li>
            <span class="sudoku-one-to-one">Color of duplicate cells with single digit.</span>
        </li>

        <li>
            <span class="sudoku-one-to-many">Color of duplicate cells with multiple digits.</span>
        </li>
    </ul>

    <script>
     {% include 'sudoku/sudoku.js' %}
    </script>
    <script>
     "use strict";
     const puzzle = '{{object.puzzle}}';
     Sudoku.create('sudoku-{{object.pk}}', puzzle);
    </script>
{% endblock %}
