
.ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
    stroke: yellow;
    stroke-opacity:0.7;
}

.ui-widget-content a {
	color: #337ab7;
}

label.field  {
	 display: inline-block;
    width: 200px;
    font-weight: bold;
}

.btn {margin-top: 5px; }

img.help {
   width: 20px;
   height: 20px;
   vertical-align: middle;
}

img.help:hover {
    cursor:help;
}


#chart-div {
		margin-top: 5px;
		border: 1px;
		border-style: dashed;
}

#footer {
    clear: both;
    padding: 10px;
    margin-top: 10px;
    background: #DCDAE5;
}

span.hide, div.hide, p.hide, .hide {
    display: none;
}

legend.sub-legend {
	 font-size: 110%;
    color: blue;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

legend.sub-sub-legend {
	 font-size: 100%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

#parameters fieldset {
	border-bottom: 1px;
	border-style: dashed;
	margin-bottom: 5px;
	margin-top: 5px;
}

span.good-range {
    color: red;
}

span.radio-field, label.radio-field {
   font-weight: bold;
}

label.error {
    color: red;
    margin: 5px;
    font-size: 75%;
}

/*
#wrap {
    margin: auto;
    width: auto;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    margin: auto;
    width: auto;
}

#option-div {
	margin-top: 20px;
}

#chart-div {

}
*/

/*

span.hide, div.hide, p.hide, .hide {
    display: none;
}

legend.head, #chart-div h2 {
    color: blue;
    font-size: 14pt;
    font-weight: bold;
}

legend.head:hover, span#read-more {
    cursor: pointer;
}

legend.sub-legend, span#read-more {
    color: blue;
}

label.field  {
	 display: inline-block;
    width: 200px;
    font-weight: bold;
}

span.radio-field, label.radio-field {
   font-weight: bold;
}



input.option, select.option {
    margin-left: 10px;
    vertical-align: middle;
}

input.radio-option {
    margin-left: 10px;
    width: 100px;
    vertical-align: middle;
}

img.help {
   width: 25px;
   height: 25px;
   vertical-align: middle;
}

button.help {
    margin-left: 5px;
    padding-left: 5px;
    background:url(help_icon.png);
    background-repeat: no-repeat;
    width:40px;
    height: 15px;
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}



fieldset p {
    clear: both;
    padding: 0px;
}

button.submit-button {
    font-weight: bold;
}



table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

*/