{% extends "base.html" %}

{% load static %}

{% block title %}
    Simulation Hub Home
{% endblock %}

{% block content %}

    <ul>
        <li>
            <a href="https://pandemic.simhub.online/">
                Pandemic: A simple model of a global infectious disease
            </a>
        </li>
        <li>
            <a href="{% url "faststi:faststi_form" %}">
                FastSTI: An agent-based model of sexually transmitted infections
            </a>
        </li>
        <li>
            <a href="https://spacetravel.simhub.online/">
                Space travel calculator: Find out how long it will take you to
                get to various planetary and interstellar vacation spots.
            </a>
        </li>
        <li>
            <a href="https://matestrat.simhub.online/">
                Why don't dangerous animals often kill each other when competing
                for mates? A simulation of how non-lethal agonistic behaviour
                evolves.
            </a>
        </li>
        <li>
            <a href="https://toys.simhub.online/balls.html">
                Balls on a plane
            </a>
        </li>
        <li>
            <a href="https://tac.simhub.online">
                Archived <b>Treatment Action Campaign</b> website as of October 2008
            </a>
        </li>
        <li>
            <a href="{% url "gambler:gambler_form" %}">
                Gambler: Test simulation to make sure this website works
            </a>
        </li>
        <li>
            <a href="{% url 'sudoku:latest' %}">
                Sudoku: For your relaxation
            </a>
        </li>
        <li>
            <a href="https://quackdown.simhub.online/">
                Quackdown: retired website that used to debunk nonsense
            </a>
        </li>
    </ul>


{% endblock %}
