{% extends "base.html" %}

{% load static %}

{% block title %}
    Simulation Hub Home
{% endblock %}

{% block content %}

    <ul>
        <li>
            <a href="{% url "faststi:faststi_form" %}">
                FastSTI: An agent-based model of sexually transmitted infections
            </a>
        </li>
        <li>
            <a href="https://spacetravel.simhub.online/">
                Space travel calculator: Find out how long it will take you to
                get to various planetary and interstellar vacation spots.
            </a>
        </li>
        <li>
            <a href="https://matestrat.simhub.online/">
                Why don't dangerous animals often kill each other when competing
                for mates? A simulation of how non-lethal agonistic behaviour
                evolves.
        </li>
        <li>
            <a href="{% url "gambler:gambler_form" %}">
                Gambler: Test simulation to make sure this website works
            </a>
        </li>
    </ul>

{% endblock %}
