@media (min-width: 721px) {
    body {
        max-width: 700px;
        margin: 6px auto 6px auto;
    }
}

@media (max-width: 720px) {
    body {
        margin: 6px 12px 6px 12px;
    }
}

html, body, p, label, ul, ol, li {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 24px;
}

.busy {
    cursor: progress;
}


#banner {
    border-bottom: 1px solid lightgray;
    top: 0;
    margin-bottom: 12px;
}

#messages {
    list-style: none;
    text-align: center;
    padding: 0;
}

#messages li {
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 0;
}

#messages li.success {
    background-color: #DFF2BF;
}

#messages li.info {
    background-color: #BDE5F8;
}

#messages li.warning {
    background-color: #FEEFB3;
}

#messages li.error {
    background-color: #FFD2D2;
}

ul.errorlist {
    padding: 0;
}
.errorlist li {
    padding: 0;
    list-style: none;
    color: #D8000C;
}

#sim-parameters label {
    display: block;
    margin-bottom: 3px;
    margin-top: 5px;
}

#sim-parameters input {
    margin-bottom: 12px;
}

#simulate-button {
    display: block;
    margin-bottom: 14px;
}

#output {
    height: 180px;
    overflow-y: scroll;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 22px;
}


#output li {
    margin-left: 24px;
    margin-bottom: 4px;
    margin-top: 4px;
}

li {
    margin-top: 12px;
}

footer {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
    border-top: 1px solid lightgray;
    font-size: 14px;
}

#copyright {
    margin-left: 15px;
}


@media (max-width: 720px) {
    #menu {
        display: block;
    }
}
