{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            {% block title %}
                | Simulation Hub
            {% endblock %}
        </title>

        {% block meta %}
        {% endblock %}

        {% block styles %}
            <style>
             {% include "css/styles.css" %}
            </style>
        {% endblock %}
    </head>

    <body>

        <div id="banner">
            {% block banner %}
                <h1>
                    {% block pagetitle %}
                        Simulation Hub: Where we pretend we're
                        modelling the world
                    {% endblock %}
                </h1>
                {% block messages %}
                    <ul id="messages">
                        {% if messages %}
                            {% for message in messages %}
                                <li
                                    {% if message.tags %}
                                    class="{{ message.tags }}"
                                    {% endif %}
                                >
                                    {{ message }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                {% endblock %}
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            {% block footer %}
                <p>
                    <span id="menu">
                        {% if request.path != "/" %}
                            <a href="{% url 'blog:blog_home' %}">Simhub home</a>
                        {% endif %}
                    </span>
                    <span id="copyright">
                        Copyright &copy; 2019 Simhub
                    </span>
                </p>
            {% endblock %}
        </footer>

        {% block scripts %}
        {% endblock %}
    </body>
</html>
