{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
                Simulation Hub
            {% endblock %}
        </title>

        {% block meta %}
        {% endblock %}

        {% block styles %}
            <style>
             {% include "css/styles.css" %}
            </style>
        {% endblock %}
    </head>

    <body>

        <div id="banner">
            {% block banner %}
                <nav>
                    {% block menu %}
                        {% block context-menu %}
                            {% include "menu.html" %}
                        {% endblock %}
                    {% endblock %}
                </nav>
                <h1 id="pagetitle">
                    {% block pagetitle %}
                        Simulation Hub Home
                    {% endblock %}
                </h1>

                {% block messages %}
                    <ul id="messages">
                        {% if messages %}
                            {% for message in messages %}
                                <li
                                    {% if message.tags %}
                                    class="{{ message.tags }}"
                                    {% endif %}
                                >
                                    {{ message }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                {% endblock %}
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            {% block footer %}
                <p>
                    <span id="copyright">
                        Copyright &copy; 2019 Simhub
                    </span>
                </p>
            {% endblock %}
        </footer>

        {% block scripts %}
        {% endblock %}
    </body>
</html>
