{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            {% block title %}
                | Simulation Hub
            {% endblock %}
        </title>

        {% block meta %}
        {% endblock %}

        {% block styles %}
            <style>
             {% include "css/styles.css" %}
            </style>
        {% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock %}

        {% block footer %}
            <div id="footer">
                {% if request.path != "/" %}
                    <p><a href="{% url 'blog:blog_home' %}">Simhub home</a></p>
                {% endif %}
            </div>
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
